#quest{
	height: 400px;
	background-image: url(../img/yun3.jpg);
	text-align: center;
	margin: 0 auto;
}

.p1{
font-size: 24px;
color: #fff;
padding-top: 100px;
}
.p2{
font-size: 18px;
color: #fff;
}
.bar8 form {
height:42px;
}

.bar8 .questInput {
width:0;
padding:0 42px 0 15px;
border-bottom:2px solid transparent;
background:transparent;
transition:.3s linear;
position:absolute;
top:0;
right:0;
z-index:2;
}
div.search {
padding:10px 0;
}
form {
position:relative;
width:300px;
margin:0 auto;
}

.questInput,.button1 {
border:none;
outline:none;
}
.questInput {
width:100%;
height:42px;
padding-left:13px;

}
#sou button {
height:42px;
width:42px;
cursor:pointer;
position:absolute;
}

.bar8 form {
height:42px;
}
.bar8 input {
width:0;
padding:0 42px 0 15px;
border-bottom:2px solid transparent;
background:transparent;
transition:.3s linear;
position:absolute;
top:0;
right:0;
z-index:2;
}

.bar8 input:focus {
width:300px;
z-index:1;
border-bottom:2px solid #fff;
}

.bar8 button {
background-color:#5cb3cc;
top:0;
right:0;
}

.bar8 button:before {
content:"go";
font-family:FontAwesome;
font-size:16px;
color:#fff;
}

.questContainer{
margin-top: 20px;
}

.dian{
/* border: 1px solid #ccc; */
height: 40px;
line-height: 40px;
}

.ques1,.ques2,.ques3{
float: left;
}
.ques4{
float: right;
}

.dian span{
margin-left: 4px;
}
.ques1,.ques2,.ques3{
margin-left: 20px;
}
.ping{

border-bottom: 1px solid #ccc;
clear: both;
margin-left: 0px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 4px;

}
.ping p{
line-height: 2em;
}
.ping h4{
color: #318399;
}
.title{
height: 40px;
line-height: 40px;
}
.fa{
height: 200px;
}
.bu{
width: 50px;
height: 30px;
line-height: 30px;
float: right;
text-align: center;
margin-bottom: 10px;
background-color: rgb(216, 141, 72);
color: #fff;
}

.hotquestion h3{
color: coral;
}

.hot ul li {
	list-style: none;
}
.help2{
width: 370px;
height: 130px;
background-repeat: no-repeat;
padding-top: 5px;
margin-bottom: 20px;
background-color: rgba(240, 149, 64, 0.8);
border-radius: 4px;

margin: 0 auto;
}
.help2 p{
line-height: 2em;
text-indent: 2em;
}
.help2 h3{
text-align: center;
}
.help2 img{
float: right;
}
.a1{
float: left;
text-indent: 1.5em;
}
.a1 span{
margin-left: 6px;
}
.a2{
float: right;
/* border-bottom: 1px solid #ccc; */
}
.a2 span{
margin-left: 6px;
}
.a3{
clear: both;
}

hr{
clear: both;
}