/* ============================热门景点================================ */
#project {
    background-color: #F4F4F4;
    padding: 2em 0;
    clear: both;
  }

  .project-head {
    margin-bottom: 2em;
  }

  .project_head h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
  }

  .project_head p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #828282;
  }

  .project-item {
    margin-bottom: 30px;
  }

  .project-item > a {
    display: block;
    color: #000;
    position: relative;
    bottom: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  .project-item > a img {
    position: relative;
    transition: 0.5s;
  }

  .project-item > a h3 {
    z-index: 12;
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 50px;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 18px;
    font-weight: 300;
    visibility: visible;
    transition: 0.3s;
  }

  @media screen and (min-width: 512px) and (max-width: 768px){
    .project-item > a img {
      margin-left: 23%;
    }

    .project-item > a h3 {
      margin-left: 23%;
    }

  }
