  /* ============================购票部分================================ */
  .tickets {
    padding: 120px 0 90px;
  }

  .tickets .text-center {
    text-align: center;
  }

  .gallary-header h2 {
    position: relative;
    color: #565a5c;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-bottom: 14px;
  }

  .gallary-header p {
    position: relative;
    color: #aaa;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 17px;
  }

  .packages-content {
    margin-top: 65px;
  }

  .single-package-item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }

  .single-package-item img {
    width: 100%;
    border: none;
    max-width: 100%;
    height: auto;
  }

  .single-package-item-txt {
    padding: 0 25px;
  }

  .single-package-item h3 {
    position: relative;
    font-size: 20px;
    color: #565a5c;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
  }

  .packages-para {
    padding: 17px 0 0;
    text-transform: capitalize;
  }

  .packages-para p {
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
  }

  .packages-para p span {
    display: inline-block;
    width: 150px;
  }

  .packages-review p i {
    color: #ffdf00;
    font-size: 16px;
  }

  .packages-review span {
    margin-left: 20px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
  }

  .about-btn {
    margin-top: 39px;
    letter-spacing: 1.2px;
    transition: 0.5s ease-in-out;
  }

  .about-view.packages-btn {
    width: 110px;
    height: 35px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    transition: .5s;
  }

  .about-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00d8ff;
    border: 1px solid #00d8ff;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(14, 15, 18, .2);
    transition: 0.5s ease-in-out;
  }
